/public/hot
/public/storage
/storage/*.key
/resources/js/components/elements/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/*
/app/Http/Controllers/*
/app/Http/Middleware/Admin.php
/app/Http/Middleware/Token.php
/app/Http/Models/*
/database/*